body {
    background: black;
    margin: 0;
    padding: 0;
}

.date, .clock {
    color: #17D4FE;
    font-family: Orbitron;
    letter-spacing: 7px;
    text-align: center;
}

.date {
    font-size: 60px;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%); 
}

.clock {
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%); 
}

/* Responsive styles */

@media screen and (max-width: 768px) {
    .clock {
        font-size: 40px;
        letter-spacing: 5px;
    }

    .date {
        font-size: 40px;
        letter-spacing: 4px;
    }
}

@media screen and (max-width: 480px) {
    .clock {
        font-size: 30px;
        letter-spacing: 3px;
    }

    .date {
        font-size: 30px;
        letter-spacing: 2px;
    }
}
